.experience-container {
  min-width: 100%;

  h2 {
    margin-bottom: 5rem;
    font-size: 4rem;

    span {
      color: $purple-color;
    }

    @include mediaQurery(phone) {
      text-align: center;
    }

    @include mediaQurery(tablet) {
      text-align: center;
    }
  }

  .experience {
    display: flex;
    gap: 4rem;

    @include mediaQurery(phone) {
      flex-direction: column;
      width: 100%;
      padding: 2rem;

      .experience-menu {
        width: 100%;
      }
    }

    @include mediaQurery(tablet) {
      flex-direction: column;
      width: 100%;
      padding: 2rem;

      .experience-menu {
        width: 100%;
      }
    }

    .experience-menu {
      width: 50%;
      max-height: 26rem;
      background-color: $secondary-color;
      overflow-y: auto;

      @include mediaQurery(phone) {
        width: 100%;
      }

      @include mediaQurery(tablet) {
        width: 100%;
      }

      li {
        position: relative;
        padding: 2.4rem 3.2rem;
        cursor: pointer;
      }

      li.active:before {
        position: absolute;
        content: '';
        background-color: $purple-color;
        height: 100%;
        width: 2%;
        left: 0;
        top: 0;

        @include mediaQurery(tablet) {
          width: 1%;
        }
      }

      @include mediaQurery(tablet) {
        width: 100%;
      }
    }

    .experience-details {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      gap: 3rem;

      h3 {
        font-size: 2.6rem;
        display: flex;
        justify-content: space-between;

        span {
          color: $size-color;
        }

        @include mediaQurery(phone) {
          flex-direction: column;
          font-size: 2rem;
          gap: 3rem;
        }
      }

      h4 {
        font-size: 2rem;
        color: $purple-color;
      }

      p {
        color: $size-color;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}
