.conteiner-sobre {
  background-color: #151515;
  margin: 0 auto;
  display: flex;
  width: 60%;
  padding: 3rem;
  gap: 3rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
  border: 0.1rem solid #1f1f1f;
  border-radius: 0.5rem;

  @include mediaQurery(phone) {
    flex-direction: column;
    width: 90%;
    padding: 1rem;

    .continer-image {
      height: 100%;
    }

    .conteiner-text {
      height: 100%;

      .sobre-name {
        font-size: 2rem !important;

        span {
          font-size: 1.4rem !important;
        }
      }

      .sobre-text {
        font-size: 1.5rem;
      }
    }
  }

  @include mediaQurery(tablet) {
    flex-direction: column;
    width: 90%;
    padding: 1rem;

    .continer-image {
      min-height: 10% !important;
    }

    .conteiner-text {
      height: 100%;

      .sobre-name {
        font-size: 3rem !important;

        span {
          font-size: 1.7rem !important;
        }
      }

      .sobre-text {
        font-size: 1.9rem;
      }
    }
  }

  .continer-image {
    width: 100%;
    min-height: 100%;
    box-shadow: 10px 9px 20px -3px rgba(0, 0, 0, 0.75);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .conteiner-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    h3 {
      color: $purple-color;
      margin-bottom: 1.8rem;
    }

    .sobre-name {
      font-size: 3rem;

      span {
        display: block;
        font-size: 1.6rem;
        margin-top: 1.6rem;
        margin-bottom: 2rem;
      }
    }

    .sobre-text {
      color: $size-color;
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }

    .continer-icons {
      display: flex;
      gap: 1rem;

      a {
        background-color: $secondary-color;
        padding: 1rem;
        border: 0.1rem solid #1f1f1f;
        border-radius: 0.5rem;

        svg {
          font-size: 3rem;
          color: $purple-color;
        }
      }

      a:hover {
        border: 0.1rem solid $purple-color;
      }
    }
  }
}
