* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $primary-color;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.conteiner-bg-black {
  background-color: $secondary-color;
  width: 100%;
  height: 100%;
}

.conteiner-main {
  height: 100%;
  margin-top: 10rem;
  background-color: $secondary-color;
  padding: 0 40rem;

  @include mediaQurery(phone) {
    padding: 0 5rem;
  }

  @include mediaQurery(tablet) {
    padding: 0 5rem;
  }
}
