@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/*   as fontes estao guardado em variaveis CSS    */
:root{
    --font1:'Baloo Da 2', cursive;
    --font2: 'Josefin Slab', serif;
    --font3: 'Mulish', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
.fora{
    position: absolute;
    left: -1000%;
}
html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}
.nome{
    margin-bottom: 1rem;
 }
    


#cursor{
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    animation: cursor 0.6s infinite linear;
    
}

.displaiy{
    display: none;
}

@keyframes entrada {
    0%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(0);
    }
}


@keyframes cursor {
  0%, 50%{
    opacity: 0;
  }  

  100%{
    opacity: 1;
  }
}





/* parte do header */
.hamburger{
    
    width: 5rem;
    height: 5.8rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    text-align: center;
    
}
.fa-bars{
    font-size: 4rem;
    color: rgba(201, 67, 201, 0.726);
    
}

.invisivel1{
    display: none;
}
.hamburger2{
    position: fixed;
    height: 3rem;
    height: 3rem;
    right: 15rem;
    top: 2rem;
    z-index: 101;
    animation: entrada 1.4s;
}
.invisivel2{
    display: none;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black ;
}


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-embrulho{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}
.img-embrulho img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom { /* animação css    */
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;

    top: 30%;
    left: 5%;

}


.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font1);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: movebanner 1 0.5s ;
}
.banner p{
    font-family: var(--font2);
    color: white;
    font-size: 2rem;
    font-weight: normal;
    text-shadow: .1rem .2rem  rgba(0,0,0,0.4);
    animation: movebanner 1s 0.7 ;
    margin-bottom: 3rem;
}
.banner button{
    font-family: var(--font3);
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: purple;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: movebanner 2s 0.9;

}
@keyframes movebanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.banner button:hover{
    opacity: 0.9;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: rgb(236, 230, 230);
    position: fixed;
    top: 0;
    right: 0;
    animation: entrada 1s;
    z-index: 100;
    
   
}
@keyframes entrada {
    0%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(0);
    }
}
 .invisivel{
    display: none;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    
}
.menu-item{
    text-align: center;
    margin-bottom: .4rem;
}

.menu-link{
    font-family: var(--font3);
    font-size: 2rem;
    color: gray;
    transition: color 0.5s;
}

.menu-link:hover{
    color: #6a3093;
    
}

.social-media{
    position: absolute;

    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.social-media i:hover{
    background-color: #a044ff;
}
/*  section sobre */

.sobre{
   padding: 2rem ; 
   padding-bottom: 6rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
   background-color: #222;
   color: #fff;
}
.sobre-mim{
    width: 80%;
    margin: 0 0 2em 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 10px;
}
.sobre-mim-text{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sobre-mim-text h3{
    font-family: var(--font3);
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    font-size: 1.2em;
}
.text a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6a3093;
    width: 100px;
    text-align: center;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    line-height: 100%;
}

.text a:hover{
    transform: scale(1.3);
    background-color: #a044ff;
    
}


.img{
    width: 70%;
}

.sobre-header{
    text-align: center;
    margin-bottom: 1rem;
}
.sobre-header h2{
    font-family: var(--font1);
    color: #6a3093;
    font-size: 3rem;
}


.conteiner-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-skills{
    padding-left: 32%;
}
.list-skills h4{
    font-family: var(--font3);
    font-size: 1.2rem;
}

.list-skills-header{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    margin: 0.5rem 0;
    
}
.list-skills-header h2{
    padding: 0.3em;
}
.list-skills-header span{
    display: block;
    padding: 0.3em;
    background-color: #6a3093;
    color: #fff;
    border-radius: 3px;
    position: relative;
}
.list-skills-header span::after{
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #6a3093;
    content: "";
}
#porcentagemCss{
    right: 2.2%;
}
#porcentagemJavaScript{
    right: 5.4%;
}
#porcentagemReact{
    right: 5.4%;
}
#porcentagemTypeScript{
    right: 10.5%;
}
.progreco{
    background-color: gainsboro;
    width: 60%;
    padding: 0.3em;
    position: relative;
    margin-left: 0.3em;
}
.barra-progreco{
    background-color: #a044ff;
    display: block;
    width: 98%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#html{
    width: 95%;
}
#css{
    width: 93%;
}
#javaScript{
    width: 90%;
}
#react{
    width: 90%;
}
#typescript{
    width: 85%;
}




/*  segunda section  */
.sessao-projetos{
    background-color: #222;
    padding: 10px;
    
}
.projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.p{
    text-align: center;
    color: #7c599e;
    font-family: var(--font2);
    font-size: 1.3rem;

}
.header {
    margin: 2rem;
    text-align: center;
    font-family: var(--font1);
    color: #6a3093;
    font-size: 2.4rem;
}
.card{
    width: 18rem;
    position: relative;
    margin: 1rem;
    height: 440px;
}

.card-img{
     width: 100%;
     height: 100%;
    
     
}

#Yu-Gi-Oh{
    height: 400px;
}

.card-img img{
    object-fit: cover;
    width: 100%;
    border-radius: .8rem;
    opacity: .99;
    height: 100%;

}
.card:hover .card-img img{
    opacity: 0.2;
    
}

.card-info{
    position: absolute;
    bottom: 0;
    left: 10%;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3 0.2rem 0.3rem black;
    transition: all 1s;
}
.card-info h2{
    font-family: var(--font1);
    font-size: 2.2rem;
    font-weight: bolder;
    color: #fff;
}


.card-info h3{
    font-family: var(--font2);
    font-weight: bold;
    font-size: 1.4rem;
    color: #a044ff;
    margin-bottom: 1.5rem;
}
.card-info p{
    font-family: var(--font2);
    font-size: 1rem;
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn{
    background-color: purple;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--font3);
    font-size: .8rem;
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8re, rgba(0, 0, 0, 0.014);
    margin-bottom: 0.4rem;
}

.card-info button{
    
    width: 8rem;
    height: 2.5rem;
    background-color: purple;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--font3);
    font-size: .8rem;
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8re, rgba(0, 0, 0, 0.014);
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

footer{
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font2);
    color: #a7a7a7;
    font-size: 1.3rem;
}
.social-list a{
    margin: 0  2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}
.social-list a:hover{
    color: #a044ff;
    transform: scale(1.5);
}

.social-list ul{
    display: flex;
}
#link-top{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.527);
}

/* animação de scrool*/

[data-anime] {
    opacity: 0;
    transition: 0.3s;
}

[data-anime="left"]{
    transform: translate3d(-30px, 0, 0);
}
[data-anime="rigth"]{
    transform: translate3d(30px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.p2{
    display: none;
}


/* responsivo */
@media (max-width: 954px) {
    
    .img{
        width: 40%;
    }
    .card{
        height: 440px;
    }
    
    .card-info{
        top: 10%;
        width: 60%;
    }
    .p{
        display: none;
    }
    .p2{
        display: block;
        text-align: center;
        color: #7c599e;
        font-family: var(--font2);
        font-size: 1.3rem;
    }
    #link-top{
        display: none;
    }

    .footer-content{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    #porcentagemHtml{
        right: -2%;
    }

    #porcentagemCss{
        right: .2%;
    }
    #porcentagemJavaScript{
        right: 3.0%;
    }
    #porcentagemReact{
        right: 3%;
    }
    #porcentagemTypeScript{
        right: 8.5%;
    }
   
    
}

@media (max-width: 887px) {
    
    .img{
        width: 70%;
    }
    .sobre-mim{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .list-skills{
        padding-left: 10%;
    }
    .progreco{
        width: 90%;
    }
    #porcentagemHtml{
        left: 49%;
    }
    #porcentagemCss{
        left: 46%;
    }
    #porcentagemJavaScript{
        left: 41%;
    }
    #porcentagemReact{
        left: 41%;
    }
    #porcentagemTypeScript{
        left: 33.5%;
    }
    .card{
        height: 440px;
    }
    
    .card-info{
        top: 10%;
        width: 60%;
    }
    .p{
        display: none;
    }
    .p2{
        display: block;
        text-align: center;
        color: #7c599e;
        font-family: var(--font2);
        font-size: 1.3rem;
    }
    #link-top{
        display: none;
    }

    .footer-content{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
}

@media (max-width: 550px) {
    
    .hamburger{
        width: 30%;
        left: 67%;
    }
    .sidebar{
        width: 100%;
    }
    .banner{
        width: 90%;
    }
    .sobre-mim{
        justify-content: center;
        align-items: center;
    }
    .sobre-mim-text{
        width: 100%;
    }
    .conteiner-skills{
        width: 100%;
        padding: 10px;
        
    }
    .list-skills{
        padding-left: 0;
        width: 100%;
        
    }
    .progreco{
        width: 90%;
    }
    
    .barra-progreco{
        width: 100%;
        
    }
    #porcentagemHtml{
        left: 52%;
    }
    #porcentagemCss{
        left: 49%;
    }
    #porcentagemJavaScript{
        left: 44%;
    }
    #porcentagemReact{
        left: 44%;
    }
    #porcentagemTypeScript{
        left: 37%
    }
     
    .sobre-mim{
    
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .text a:active{
        background-color: #7c599e;
    }

    .img{
        width: 80%;
    }
}

@media (max-width: 547px) {
    .sidebar{
        min-height: 100vh;
    }
    .hamburger{
        width: 30%;
        left: 69%;
    }
    .sidebar{
        width: 100%;
    }
    .banner{
        width: 90%;
    }
    .sobre-mim{
        justify-content: center;
        align-items: center;
    }
    .sobre-mim-text{
        width: 80%;
    }
    .conteiner-skills{
        width: 100%;
    }
    .list-skills{
        padding-left: 0;
        width: 100%;
        
    }
    .progreco{
        width: 90%;
    }
    
    .barra-progreco{
        width: 100%;
        
    }
    #porcentagemHtml{
        left: 52%;
    }
    #porcentagemCss{
        left: 49%;
    }
    #porcentagemJavaScript{
        left: 45%;
    }
    #porcentagemReact{
        left: 45%;
    }
    #porcentagemTypeScript{
        left: 36.5%;
    }
    .sobre-mim{
    
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .text a:active{
        background-color: #7c599e;
    }

    .img{
        width: 80%;
    }
}

@media (max-width: 535px) {

    .hamburger2{
        left: 10%;
    }
    
    .hamburger{
        width: 30%;
        left: 65%;
    }
    .sidebar{
        width: 100%;
    }
    .banner{
        width: 90%;
    }
    .sobre-mim{
        justify-content: center;
        align-items: center;
    }
    .sobre-mim-text{
        width: 100%;
        font-size: 0.9rem;
    }
    .conteiner-skills{
        width: 100%;
        padding: 10px;
        
    }
    .list-skills{
        padding-left: 0;
        width: 100%;
        
    }
    .progreco{
        width: 90%;
    }
    
    .barra-progreco{
        width: 100%;
        
    }
    #porcentagemHtml{
        left: 52%;
    }
    #porcentagemCss{
        left: 49%;
    }
    #porcentagemJavaScript{
        left: 45%;
    }
    #porcentagemReact{
        left: 45%;
    }
    #porcentagemTypeScript{
        left: 36.5%;
    }
    .sobre-mim{
    
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .text a:active{
        background-color: #7c599e;
    }

    .img{
        width: 100%;
    }
}
